<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('link') %>
    <link rel="stylesheet" href="/styles/menu.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <ul class="nav-bar">
        <li>
          <a class="<%=currentRoute === '/menu'? 'all' : ''%>" href="/menu"
            >all flavours</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/signature-milk-tea'? 'all' : ''%>"
            href="/menu/signature-milk-tea"
            >signature milk tea</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/flavoured-milk-tea'? 'all' : ''%>"
            href="/menu/flavoured-milk-tea"
            >flavoured milk tea</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/fruit-tea'? 'all' : ''%>"
            href="/menu/fruit-tea"
            >fruit tea</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/specialty-drinks'? 'all' : ''%>"
            href="/menu/specialty-drinks"
            >specialty drinks</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/jelly-and-juice'? 'all' : ''%>"
            href="/menu/jelly-and-juice"
            >jelly and juice</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/matcha'? 'all' : ''%>"
            href="/menu/matcha"
            >matcha</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/brown-sugar-pearls'? 'all' : ''%>"
            href="/menu/brown-sugar-pearls"
            >brown sugar pearls</a
          >
        </li>
        <li>
          <a
            class="<%=currentRoute === '/smoothie-&-slush'? 'all' : ''%>"
            href="/menu/smoothie-&-slush"
            >smoothie & slush</a
          >
        </li>
      </ul>
      <div class="menu-description-wrapper">
        <div class="item-description-container">
          <div class="item-description-wrapper">
            <h1><%=randomItem.name%></h1>
            <h3><%=randomItem.description%></h3>
            <img src="<%=randomItem.imgURL%>" alt="" />
            <h2>$ <%=randomItem.price%></h2>
            <a class="button-to-order" href="/order/<%=randomItem._id%>">
              <button class="order-button">Order now</button>
            </a>
          </div>
        </div>
        <div class="item-list-wrapper">
          <%for(let item of listItem){%>
          <a class="item" href="/menu/<%=item._id%>">
            <img
              class="item-img"
              src="<%=item.imgURL%>"
              alt="/img/Chatime-Pearl-Milk-Tea.png"
            />
            <p class="item-name"><%=item.name%></p>
            <p class="item-price">$ <%=item.price%></p>
          </a>
          <%}%>
        </div>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
