<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('link') %>
    <link rel="stylesheet" href="/styles/order.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%if(ordered === true) {%> <%if(!orderingItem){ %>
      <div class="summary">
        <h1>Check Your Order Status</h1>
      </div>
      <div class="search-order">
        <form action="/order/check/order" method="post">
          <input
            type="text"
            placeholder="Enter your order number"
            name="odId"
            required
          />
          <button type="submit">Search</button>
        </form>
        <%if(display) {%> <%if(info){%>
        <h1>Your order</h1>
        <div class="order-information">
          <div>
            <p>Name:</p>
            <p>Address:</p>
            <p>Phone:</p>
            <p>Drink ordered:</p>
            <p>Order time:</p>
            <p>Status:</p>
          </div>
          <div class="oder-customer-information">
            <p><%=info.order.cusName%></p>
            <p><%=info.order.deliAddress%></p>
            <p><%=info.order.phone%></p>
            <p><%=info.order.itemOrdered.name%></p>
            <p><%=info.date%> at <%=info.time%></p>
            <p class="<%=info.order.status.split(' ')[0]%>">
              <%=info.order.status%>
            </p>
          </div>
        </div>
        <%} else {%>
        <div>
          <h1 class="no-order">No order found!</h1>
        </div>
        <%}%> <%}%>
      </div>
      <%} else {%>
      <div class="summary">
        <h1>Order Summary</h1>
      </div>

      <div class="order-summary">
        <div class="ordered-drink">
          <img src="<%=orderingItem.imgURL%>" alt="" />
          <p><%=orderingItem.name%></p>
        </div>
        <div class="ordered-info">
          <div class="odered-customer-label">
            <p>Order No:</p>
            <p>Customer name:</p>
            <p>Address:</p>
            <p>Phone number:</p>
            <p>Paid:</p>
          </div>
          <div class="ordered-customer-info">
            <p><%=info.odId%></p>
            <p><%=info.name%></p>
            <p><%=info.address%></p>
            <p><%=info.phone%></p>
            <p>$ <%=info.paid%></p>
          </div>
        </div>
      </div>
      <%}%> <%} else { %>
      <div class="summary">
        <h1>Order Form</h1>
      </div>

      <div class="ordering-wrapper">
        <div class="ordering-item-container">
          <h1>Your drink</h1>
          <div class="inside-container">
            <img src="<%=orderingItem.imgURL%>" alt="" />
            <div class="ordering-item-info">
              <div class="label">
                <p>Name:</p>
                <p>Price:</p>
                <p>Tax (13%):</p>
                <p>Total:</p>
              </div>
              <div class="info">
                <p><%=orderingItem.name%></p>
                <p id="item-price">$ <%=orderingItem.price%></p>
                <p id="item-tax">
                  $ <%= (orderingItem.price * 0.13).toFixed(2) %>
                </p>
                <p id="total-price">
                  $ <%= (orderingItem.price*0.13+orderingItem.price).toFixed(2)
                  %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="ordering-info">
          <h1>Customer Information</h1>
          <form
            class="ordering-form"
            action="/order/start/<%=orderingItem._id%>/1"
            method="post"
          >
            <div>
              <p>Name:</p>
              <input
                type="text"
                placeholder="Enter your name"
                name="name"
                required
              />
              <p>Address:</p>
              <input
                type="text"
                placeholder="Enter your address"
                name="address"
                required
              />
              <p>Phone Number:</p>
              <input
                type="tel"
                placeholder="Enter your phone number"
                name="phoneNumber"
                required
              />
              <p>Card Number:</p>
              <input
                type="text"
                maxlength="10"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                placeholder="Enter your card number"
                required
                name="cardNumber"
              />

              <div class="tip-section">
                <p>Tip:</p>
                <select name="tip" id="tip">
                  <option value="0" selected>No tip</option>
                  <option value="10">10%</option>
                  <option value="15">15%</option>
                </select>
              </div>
            </div>

            <button class="submit-order-button" type="submit">Order</button>
          </form>
        </div>
      </div>

      <%}%>
    </main>
    <%- include('footer') %>

    <script src="/script/order.js"></script>
  </body>
</html>
